
<div class="vid-container">
    <div class="inner-container">
      <div class="box">
        <div class="text-center justify-content-center">
        <img [src]="rutaImagen" alt="logo" class="logologin"></div>
        <h1 >Actualiza tu clave</h1>
        <input type="password" class="login-input" placeholder="contraseña" required/>
        <input type="password" class="login-input" placeholder="confirmar contraseña" required/>
        <div class="modal-footer justify-content-center ">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Enviar</button></div>
      </div>
    </div>
  </div>