.container{
    margin-top: 120px;
    position: relative;
    margin-bottom: 30px;
    width: 80%;
 

}

#calendar{
    margin-bottom: 30px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 100%; 
    color: #31485E;
    font-family: 'Montserrat', sans-serif;
}